@tailwind base;
@tailwind components;
@tailwind utilities;


body{
width: 100%;
height: 100%;
background: black
}


#mydiv::-webkit-scrollbar {
    width: 12px;
    background-color: #0e0e0e;
    border-radius: 12px;
}

#mydiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 12px;
    background-color: #0e0e0eb5;
}

#mydiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #0e0e0eb5;
}

#mydiv::-webkit-scrollbar-thumb:hover{
    background-color: #11c78c;
}


.sideBarMenu:hover{
    background-color: #2c2c2c
}

.sideBarMenu:hover .dashboard{
     color: #1de9b6 !important;
}

.sideBarMenu:hover p{
    color: #1de9b6

}

input:focus {
    outline: none;
    box-shadow: inset 2px 2px 0px #1de9b6, inset 0px -2px 0px #1de9b6, inset -2px 0px 0px #1de9b6;
  }


.bg {
    width: 100%;
    background-image: url("/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.loader{
    animation: loaderanimation 3s infinite;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.loaderfirst{
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    animation: loaderanimation 3s infinite;
    animation-direction: reverse;
}

.logoutbtn{
    display: none;
}

.profileDetails:hover .logoutbtn{
   display: block
}







@keyframes loaderanimation {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }



  }





